<ul style="list-style-type:none;">
  {%-for item in include.collection-%}
    <li class="reveal">
    {%- if item.url and item.content-%}
      <details class="smooth-toggle boxed-toggle">
        <summary class="boxed-summary"> {{item.title}} </summary>
        <div class="smooth-content cascade">
          <p>
            <div class="short">
            {{item.content}}
            </div> 
            <br>
            <a href="{{ item.url }}">More</a>
          </p>
        </div>
      </details>
    {%- elsif item.content -%}
      <details class="smooth-toggle boxed-toggle">
        <summary class="boxed-summary"> {{item.title}} </summary>
        <div class="smooth-content cascade">
          <p>
            <div class="short">
            {{item.content}}
            </div>
          </p>
        </div>
      </details>
    {%- elsif item.url -%}
      <a href="{{ item.url }}">More</a>
    {%- else -%}
      {{item.title}}
    {%- endif -%}
    </li>

    {%-if item.post_list-%}
      {%
        include post_list.html
          category=item.post_list.category
          limit=item.post_list.limit
          show_more=item.post_list.show_more
          show_more_text=item.post_list.show_more_text
          show_more_url=item.post_list.show_more_url
     -%}
    {%-endif-%}

    {%-if item.entries-%}
      {%-include menu_item.html collection=item.entries-%}
    {%-endif-%}
  {%-endfor-%}
</ul>
