---
layout: default
---
<div id="page-loader" aria-hidden="false">
  <img
      src="loader.png"
      alt="Loading"
      class="loader-image no-reinvert"
    >
</div>

<header>
  <h1 id="name_title">{{ site.title }}</h1>
  {%-if site.theme_config.show_description-%}
    <p>{{ site.description }}</p>
  {%-endif-%}
</header>

<button id="theme-toggle" type="button" aria-pressed="false" aria-label="Toggle theme"> <span id="theme-icon">🌓</span> </button>
{%-include menu_item.html collection=site.data.menu.entries-%}

{{ content }}
<script type="module" src="{{ '/assets/js/home.js' | relative_url }}"></script>
